/*
		HELPER CLASSES
*/

.cl:after {
	content: "";
	display: table;
	clear: both;
}

/*
		GRID
*/

body { background-color: #f2f2f2; }

.page-wrapper {
	background-color: #fff;
	width: 100%;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0,1,1,.2); 
}

/*
		FONTS
*/

body {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333;
	text-align: center;
	text-transform: uppercase;
}

.title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

.title-muted { 
	font-size: 14px; 
	line-height: 26px;
	font-weight: normal;
}

.title-light {
	color: #fff;
}

.text-light {
	color: #fff;
}



.text-search {
	line-height: 24px;
}





.title-big {
	font-size: 30px;
}



.filter-column-title {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.sorting-text {
	font-size: 12px;
	line-height: 18px;
	color: #000;
}

.bg-muted {
	color: #666;
}

/*
	BASE
*/

/* Main navigation */

.main-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation li {
	float: left;
	width: 20%;
	text-align: center;
}

.main-navigation a {
	font-weight: bold;
	line-height: 56px;
	color: #000;
	text-decoration: none;
}

.main-navigation a:hover { color: #81b3d2; }

.main-navigation a:active { color: #ccc; }

.active a { color: #766357; }

.active a:hover { color: #604e43; }

.active a:active { color: #dbd8d5; }

a.logo {
	position: relative;
	z-index: 10;
	font-size: 0;
	line-height: 0;
}

/*
	INDEX.HTML
*/

/* Intro (background + text) */

.intro {
	outline: 2px solid red;
	position: relative;
	top: -20px;
	width: 100%;
	height: 435px;
	padding-top: 77px;
	margin-bottom: 35px;
	background: #accde1 url(../img/bg-index.jpg) top center no-repeat;
	background-size: 100%;
}

.intro img {
	display: block;
	margin: 0 auto;
}

.intro img:first-child { margin-bottom: 54px; }

.intro img:nth-child(2) { margin-bottom: 58px; }

.intro-mask {
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 57px;
	background: url(../img/bg-mask.png) bottom center no-repeat;
	background-size: 100%;
}

/* Text banner */

.text-banner { margin-bottom: 27px; }

/* Features */

.features .title-muted {
	margin: 0; 
	margin-bottom: 55px; 
}

.features-banner, .features-row { 
	display: table; 
	width: 100%;
}

.features p { margin: 0; }

/* Banner with photo */

.features-banner-description {
	outline: 1px solid green;
	display: table-cell;
	width: 33.33%;
	height: 211px;
	padding-top: 45px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #81b3d2;
}

.features-banner-description .title {
	margin: 0;
	margin-bottom: 11px;
}

.features-counter { 
	position: relative; 
	z-index: 2;
	padding: 0 6px;
	background-color: #eee;
}

.features-counter.features-counter-light { 
	color: #fff; 
	background-color: #81b3d2;
}

.features-counter::after {
	content: "";
	position: relative;
	bottom: 10px;
	z-index: 1;
	margin: 0 auto;
	display: block;
	width: 50px;
	border-bottom: 2px solid #333;
}

.features-counter-light::after { border-color: #fff; }

.features-banner-image {
	outline: 1px solid blue;
	display: table-cell;
	width: 66.66%;
	height: 330px;
}

.features-banner-image img {
	width: 100%;
	
}

/* Features item */

.features-item {
	outline: 1px solid red;
	display: table-cell;
	width: 33.33%;
	height: 210px;
	padding-top: 46px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #eee;
}

.features-item.features-item-illustrated {
	height: 272px;
	padding-top: 58px;
	background-color: #fff;
}

.features-item .title { 
	margin: 0; 
	margin-bottom: 21px;
}

.features-item-image {
	width: 75px;
	height: 76px; 
	margin: 0 auto;
	margin-bottom: 29px;
	background: #fff url(../img/sprite-icon-set.png) no-repeat;
}

.features-item-image1 { background-position: 0 4px; }

.features-item-image2 { background-position: -83px 4px; }

.features-item-image3 { background-position: -162px 0; }


.map  {
	height: 593px;
	background: #ccdda9 url(../img/temp/map.jpg) center center no-repeat;
	background-size: auto 593px;
}

.footer-instagram, 
.footer-social,
.footer-copyright {
	outline: 1px solid yellow;
	float: left;
	width: 33.33%;
	min-height: 120px;
}

/* Контейнер главного контента для страницы с отелями */

.container {
	outline: 2px dashed #222;
	background-color: #ddd;
	width: 91.93%;
	min-width: 705px;
	max-width: 1047px;
	margin: 0 auto;
}

.filter-column1 { 
	outline: 1px dashed blue;
	float: left;
	width: 470px; 
}

.filter-column2 { 
	outline: 1px dashed green;
	float: right;
	width: 31.77%; 
}

.filter-fieldset { float: left; }

.hotel-card {
	outline: 2px dashed orange;
	position: relative;
	min-height: 90px;
	padding-left: 166px;
	padding-right: 150px;
}

.hotel-info {
	outline: 1px dashed green;
}

.hotel-rating {
	outline: 1px dashed blue;
	position: absolute;
	top: 0;
	right: 0;
	width: 140px;
}

.hotel-info img { 
	position: absolute;
	top: 0;
	left: 0;
	
}

