/*
	ICON FONT
*/

@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */

/*
		HELPER CLASSES
*/

.cl:after {
	content: "";
	display: table;
	clear: both;
}

.pull-right { float: right; }

.pull-left { float: left; }

.text-hide {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.text-hide-icon { overflow: hidden; }

/*
		GRID
*/

html, body { 
	width: 100%;
	height: 100%;
	min-width: 768px;
	background-color: #f2f2f2; 
}

.page-wrapper {
	position: relative;
	background-color: #fff;
	width: 100%;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0,1,1,.2); 
}

/*
		FONTS
*/

body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333;
	text-align: center;
	text-transform: uppercase;
}

.title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
}

.title-muted { 
	font-size: 14px; 
	line-height: 26px;
	font-weight: normal;
}

.title-light { color: #fff; }

.title-big {
	font-size: 30px;
	line-height: 30px;
}

.title-small {
	font-size: 16px;
	font-weight: bold;
}

.text-light { color: #fff; }

.text-dark { color: #000; }

.text-high { line-height: 24px; }

.text-bold {
	line-height: 26px;
	font-weight: bold;
}

.text-small {
	font-size: 12px;
	line-height: 18px;
	color: #000;
}

.bg-muted {
	color: #666;
	background-color: #f2f2f2;
}

/*
	BASE
*/

/* Main navigation */

.main-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation li {
	float: left;
	width: 20%;
	padding-top: 17px;
	text-align: center;
}

.main-navigation a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.main-navigation .logo-wrapper {
	position: relative;
	z-index: 10;
	padding-top: 0;
}

.main-navigation a:hover { color: #81b3d2; }

.main-navigation a:active { color: #ccc; }

.active a { color: #766357; }

.active a:hover { color: #604e43; }

.active a:active { color: #dbd8d5; }

/* Buttons */

.btn {
	display: inline-block;
	vertical-align: top;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
}

/* Footer */

.page-footer { background-color: rgb(254,254,254); }

.page-footer-transparent { 
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(254,254,254,.9); 
}

.footer-container {
	float: left;
	width: 33.33%;
}

.footer-instagram { padding: 47px 0; }

.footer-instagram a { text-decoration: none; }

.footer-social {
	padding-top: 36px;
	padding-bottom: 30px;
	font-size: 0;
}

.social-icon {
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	margin: 0 3px;
	margin-bottom: 6px;
	background-color: #81b3d2;
	font-size: 19px;
	line-height: 48px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.social-icon:hover { background-color: #669ec0; }

.social-icon:active { 
	background-color: #5496bd; 
	color: #94b9d2;
}

.footer-copyright {
	padding-top: 43px;
	padding-bottom: 44px;
}

.footer-copyright .text-dark { 
	display: inline-block;
	vertical-align: middle;
	line-height: 26px; 
	margin-left: 15px;
}

.footer-logo {
	display: inline-block;
	vertical-align: middle;
	width: 135px;
	height: 33px;
	margin-left: 5px;
	background: #fff url(../img/sprite-icon-set.png) -7px -85px no-repeat;
}

.footer-logo:hover { background-position: -7px -127px; }

.footer-logo:active { 
	background-position: -7px -85px;
	opacity: .3; 
}

/*
	INDEX.HTML
*/

/* Intro (background + text) */

.intro {
	position: relative;
	top: -20px;
	height: 435px;
	padding-top: 77px;
	margin-bottom: 35px;
	background: #accde1 url(../img/bg-index.jpg) center center no-repeat;
	background-size: cover;
}

.intro img {
	display: block;
	margin: 0 auto;
}

.intro img:first-of-type { margin-bottom: 52px; }

.intro img:nth-of-type(2) { margin-bottom: 56px; }

.intro img:last-of-type {
	position: relative;
	left: -9px;
}

.intro-mask {
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 57px;
	background: url(../img/bg-mask.png) bottom center no-repeat;
	background-size: 100%;
}

/* Text banner */

.text-banner { margin-bottom: 29px; }

/* Features */

.features .title-muted {
	margin: 0; 
	margin-bottom: 50px; 
}

.features p { margin: 0; }

/* Banner with photo */

.features-banner-description {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.33%;
	min-height: 256px;
	padding-top: 45px;
	padding-left: 5.5%;
	padding-right: 5.5%;
	background-color: #81b3d2;
}

.features-banner-description .title {
	margin: 0;
	margin-bottom: 11px;
}

.features-counter { 
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px; 
}

.features-counter::before,
.features-counter::after {
	content: "";
	position: absolute;
	top: 10px;
	display: block;
	width: 9px;
	height: 2px;
	background-color: #333;
}

.features-counter::before { left: -15px; }

.features-counter::after { right: -15px; }

.features-counter-light::before,
.features-counter-light::after { background-color: #fff; }

.features-banner-image {
	position: relative;
	float: left;
	width: 66.66%;
	min-height: 256px;
	overflow: hidden;
}

.features-banner-image img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
	margin: auto;
}

/* Features item */

.features-item {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.33%;
	min-height: 256px;
	padding-top: 46px;
	padding-left: 5.5%;
	padding-right: 5.5%;
	background-color: #eee;
}

.features-item.features-item-illustrated {
	min-height: 330px;
	padding-top: 55px;
	background-color: #fff;
}

.features-item .title { 
	margin: 0; 
	margin-bottom: 11px;
}

.features-item-illustrated .title { margin-bottom: 21px; }

.features-item-image {
	width: 75px;
	height: 76px; 
	margin: 0 auto;
	margin-bottom: 29px;
	background: #fff url(../img/sprite-icon-set.png) no-repeat;
}

.features-item-image1 { background-position: 0 4px; }

.features-item-image2 { background-position: -83px 4px; }

.features-item-image3 { background-position: -162px 0; }

/* Search block */

.search .title { 
	margin-top: 54px; 
	margin-bottom: 29px;
}

.search p { margin-bottom: 44px; }

.btn-search {
	width: 568px;
	padding-top: 32px;
	padding-bottom: 33px;
	font-size: 21px;
	color: #fff;
	background-color: #766357;
}

/* Search form */

.search-form {
	display: none;
	position: absolute;
	left: 50%;
	width: 458px;
	padding: 55px;
	margin-left: -284px;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,1,1,.2);
}

.search-form-show {
	position: absolute;
	z-index: 10;
	display: block; 
	-webkit-animation: appearance .5s;
	-o-animation: appearance .5s;
	animation: appearance .5s;
}

.search-form-no-js {
	display: block;
	position: static;
	margin: 20px auto;
}

/* Animation for search form */

@-webkit-keyframes appearance {
	from { transform: translateY(-85px); }
	to { transform: translateY(0); }
}
@-o-keyframes appearance {
	from { transform: translateY(-85px); }
	to { transform: translateY(0); }
}
@-moz-keyframes appearance {
	from { transform: translateY(-85px); }
	to { transform: translateY(0); }
}
@keyframes appearance {
	from { transform: translateY(-85px); }
	to { transform: translateY(0); }
}

.search-row { margin-bottom: 29px; }

.search-col { 
	float: left;
	width: 50%; 
}

.search-row label { 
	display: inline-block;
	vertical-align: middle;
	max-width: 100px;
	line-height: 38px; 
}

.label-shift { margin-left: 50px; }

.button-shift { margin-right: 3px; }

.search-row input {
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

.search-row button {
	display: inline-block;
	vertical-align: top;
	border: none;
	outline: none;
	background-color: transparent;
}

.input-date-container { 
	position: relative; 
	float: right;
}

.input-date {
	width: 291px;
	padding-left: 15px;
	padding-right: 40px;
}

.icon-calendar {
	position: absolute;
	top: 8px;
	right: 3px;
	font-size: 21px;
	color: #c2c2c2;
}

.input-amount-container { 
	position: relative; 
	float: right;
}

.container-shift { 
	position: relative;
	left: -3px;
}

.input-amount {
	width: 54px;
	padding-left: 30px;
	padding-right: 30px;
	border: none;
	outline: none;
	text-align: center;
}

.icon-minus,
.icon-plus {
	position: absolute;
	font-size: 14px;
	color: #a9a9a9;
}

.icon-minus {
	top: 8px;
	left: 5px;
}

.icon-plus {
	top: 8px;
	right: 4px;
}

.search-row input:hover { background-color: #ebebeb; }

.search-row input:focus { 
	background-color: #fff; 
	box-shadow: inset 0 0 2px #e5e5e5;
}

.icon-calendar:hover,
.icon-minus:hover,
.icon-plus:hover { color: #000; }

.icon-calendar:active,
.icon-minus:active,
.icon-plus:active { color: #81b3d2; }

::-webkit-input-placeholder { color:#000; }
::-moz-placeholder          { color:#000; } /* Firefox 19+ */
:-moz-placeholder           { color:#000; } /* Firefox 18- */
:-ms-input-placeholder      { color:#000; }

:focus::-webkit-input-placeholder { color: transparent; }
:focus::-moz-placeholder          { color: transparent; }
:focus:-moz-placeholder           { color: transparent; }
:focus:-ms-input-placeholder      { color: transparent; }

.btn-search-action {
	width: 458px;
	height: 58px;
	margin-top: 29px;
	font-size: 21px;
	line-height: 58px;
	color: #fff;
	background-color: #81b3d2;
}

.btn-search-action:hover { background-color: #669ec0; }

.btn-search-action:active { 
	background-color: #5496bd; 
	color: #94b9d2;
}

/* Map */

.map  {
	height: 593px;
	background: #ccdda9 url(../img/temp/map.jpg) center center no-repeat;
	background-size: auto 593px;
}

#map-canvas {
	display: block;
	width: 100%;
	height: 593px;
}

/*
	HOTELS.HTML
*/

/* Container */

.container {
	width: 91.93%;
	min-width: 706px;
	max-width: 1058px;
	margin: 0 auto;
	text-align: left;
}

/* Filter */

.filter {
	position: relative;
	top: -20px;
	padding-top: 28px;
	margin-bottom: 10px;
	background: #accde1 url(../img/bg-hotels.jpg) center center no-repeat;
	background-size: cover;
}

.filter fieldset { 
	margin: 0;
	padding: 0;
	border: none; 
}

.filter-column-left { width: 470px; }

.filter-column-right { 
	float: right;
	width: 31.77%; 
}

.filter-column-left fieldset { margin-bottom: 5px; }

.filter-column-left fieldset:first-child { width: 256px; }

.filter-column-left legend { margin-bottom: 25px; }

.filter-column-right legend { margin-bottom: 9px; }

.filter input[type="checkbox"] { display: none; }

.filter input[type="checkbox"] + label {
	position: relative;
	display: block;
	padding-left: 39px;
	margin-bottom: 25px;
}

.filter input[type="checkbox"] + label::before,
.filter input[type="checkbox"]:checked + label:active::before {
	content: '\2610';
	position: absolute;
	top: 0;
	left: 0;
	font-family: "symbols-sedona";
	font-size: 24px;
	color: #b5b5b5;
}

.filter input[type="checkbox"]:checked + label::before, 
.filter input[type="checkbox"] + label:active::before { content: '\2611'; }


.filter input[type="checkbox"] + label:hover,
.filter input[type="checkbox"] + label:hover::before { 
	cursor: pointer;
	color: #fff;
}

.filter input[type="checkbox"]:disabled + label,
.filter input[type="checkbox"]:disabled + label::before { 
	cursor: default;
	color: #6a6a6a;
}

/* Price filter */

.range-controls { 
	position: relative; 
	margin-bottom: 31px;
}

.range-controls .scale {
	height: 2px;
	background-color: #988683;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: #fff;
}

.range-controls .toggle {
	position: absolute;
	top: -9px;
	left: 0;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background-color: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle:hover { background-color: #1c4f80; }

.range-controls .max-toggle { left: 70%; }

.price-controls {
	position: relative;
	border: 2px solid #fff;
	margin-bottom: 20px;
}

.price-controls::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #fff;
}

.price-controls input {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	border: none;
	background-color: transparent;
	outline: none;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.price-controls ::-webkit-input-placeholder { color:#fff; }
.price-controls ::-moz-placeholder          { color:#fff; } /* Firefox 19+ */
.price-controls :-moz-placeholder           { color:#fff; } /* Firefox 18- */
.price-controls :-ms-input-placeholder      { color:#fff; }

.btn-action-clear {
	display: block;
	min-width: 137px;
	padding-top: 6px;
	padding-bottom: 5px;
	margin: 0 auto;
	font-weight: normal;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
}

.btn-action-clear:hover {
	color: #000;
	background-color: #fff;
}

.btn-action-clear:active {
	color: #ccc;
	background-color: #fff;
}

/* Sorting row */

.sorting-row {
	padding-left: 2px;
	margin-bottom: 31px;
}

.sorting-row .title { margin-right: 43px; }

.sorting-title { margin-right: 36px; }

.sorting-list {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorting-list li {
	display: inline;
	margin-right: 28px;
}

.sorting-list a {
	color: #ccc;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover { color: #81b3d2; }

.sorting-list a:active {
	color: #000;
	border-bottom: none;
}

.sorting-list-active span { color: #81b3d2; }

.sorting-arrow {
	position: relative;
	top: 3px;
	right: -4px;
	float: right;
}

.sorting-arrow a {
	display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
	font-size: 23px;
	line-height: 23px;
	color: #ccc;
	text-decoration: none;
}

.sorting-arrow .icon-up-dir {
	position: absolute;
	left: -22px;
}

.sorting-arrow .icon-up-dir:hover,
.sorting-arrow .icon-down-dir:hover { color: #000; }

.sorting-arrow .icon-up-dir:active,
.sorting-arrow .icon-down-dir:active { color: #81b3d2; }

.sorting-arrow .sorting-arrow-active,
.sorting-arrow .sorting-arrow-active:hover { color: #81b3d2; }

/* Hotel card */

.hotel-row { border-top: 1px solid #e5e5e5; }

.hotel-row:last-of-type { border-bottom: 1px solid #e5e5e5; }

.hotel-card {
  min-width: 700px;
	padding-top: 25px;
	padding-bottom: 19px;
}

.hotel-rating {
  float: right;
	width: 140px;
	text-align: right;
}

.hotel-rating .icon-star {
	display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
	font-size: 19px;
	color: #81b3d2;
}

.hotel-rating p {
	display: inline-block;
	vertical-align: middle;
	margin-top: 42px;
	padding-left: 16px;
	padding-right: 13px;
	line-height: 27px;
}

.hotel-image-container {
  float: left;
  width: 150px;
}

.hotel-image {
	position: relative;
	top: 5px;
	display: block;
	width: 135px;
	height: 90px;
	margin-right: 31px;
}

.hotel-image img { 
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.hotel-info { 
  margin-left: 160px;
  margin-right: 150px; 
}

.hotel-name {
	margin: 0;
	margin-bottom: 5px;
}

.hotel-name a {
	color: #000;
	text-decoration: none;
}

.hotel-name a:hover { color: #81b3d2; }

.hotel-name a:active { color: #ccc; }

.hotel-description { margin-bottom: 15px; }

.hotel-description span {
	display: inline-block;
	vertical-align: middle;
}

.hotel-type { 
	min-width: 110px; 
	padding-right: 2px;
}

.btn-info, 
.btn-action {
	line-height: 27px;
	color: #fff;
	text-align: center;
}

.btn-info	{
	min-width: 110px;
	margin-right: 1px;
	background-color: #81b3d2;
}

.btn-action	{ 
	min-width: 142px;
	background-color: #766357; 
}

.btn-info:hover { background-color: #669ec0; }

.btn-info:active { 
	background-color: #5496bd; 
	color: #94b9d2;
}

.btn-action:hover { background-color: #604e43; }

.btn-action:active { 
	background-color: #503e33; 
	color: #928a85;
}
